@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --font-color: #333;
  /* set variation axis values */
  --mono: "MONO" 0;
  /* Monospace: Sans (natural-width) or Mono (fixed-width) */
  --casl: "CASL" 0;
  /* Casual: Linear to Casual */
  --wght: 300;
  /* Weight: Light to ExtraBlack; usually set with `font-weight` */
  --slnt: 0deg;
  /* Slant: 0 to -15 degrees, auto cursive at -14 */
  --crsv: "CRSV" 0.5;
  /* Cursive: always roman (0), auto substitution (.5), or always cursive (1) */
}

* {
  font-weight: var(--wght);
  font-style: oblique var(--slnt);
  font-variation-settings: var(--mono), var(--casl), var(--crsv);
}

html {
  font-size: 20px;
  background-color: lightgray;
}

body {
  color: var(--font-color);
  font-family: 'Charis SIL', serif;
  max-width: 50%;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 50px;
}
.inline {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}
.alert {
    background-color: lightblue;
    border-radius: 50px;
    float:left;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 10px;
}

h1 {
  font-size: var(--s3);
}

h2 {
  font-size: var(--s2);
}

h3 {
  font-size: var(--s1);
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
  --wght: 600;
  --casl: "CASL" 1;
  margin-top: var(--s2);
  margin-bottom: 0;
}
.inset-box {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}
.bold {
    font-weight: 800;
}
p {
  line-height: var(--s1);
  margin: var(--s1);
  max-width: 66ch;
}